h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

div {
    width: 400px;
    margin:0 auto;

    a {
        display: block;
        border-radius: 5px;
        color: #fff;
        margin-bottom: 30px;
        font-size: 16px;
        padding: 22px 20px 5px 20px;
        width: 120px;
        height: 40px;
        margin: 30px auto;
        text-align: center;
        text-decoration: none;
    }

    a:first-child {
        background-color: #CD5C5C;

        &:hover {
            background-color: #fff;
            color: #CD5C5C;
            border: 1px solid #CD5C5C;
	    }
    }

    a:last-child {
        background-color: #0E1A2A;

        &:hover {
            background-color: #fff;
            color: #0E1A2A;
            border: 1px solid #0E1A2A;
	    }
    }
}